<%- include('header')%>
  <section class="pt-5">
    <div class="container">
      <h1><%= title %></h1>
      <% include ./partials/messages %> 

      <div class="mt-4">
        <% if (messages.length > 0) { %>
          <% messages.forEach(message => { %>
            <div class="card mt-4">
              <div class="card-body">
                <h5 class="card-title"><%= message.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <% if (locals.currentUser) { %>
                    <% if (locals.currentUser.isMember) { %>
                      <%= message.author.fullName %> 
                    <% } else { %>
                      <%= 'Author hidden' %>
                    <% } %> 
                  <% } %> 
                </h6>
                <p class="card-text"><%= message.text %> </p>
                <p class="small">
                  <% if (locals.currentUser) { %>
                    <% if (locals.currentUser.isMember) { %>
                      <%= message.timestamp %> 
                    <% } else { %>
                      <%= 'Date hidden' %>
                    <% } %> 
                  <% } %> 
                </p>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p class="lead">There are no messages</p>
        <% } %>
      </div>
    </div>
  </section>



  
<%- include('footer')%>
